*{margin:0; padding:0; color:#323232; font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; -webkit-font-smoothing:subpixel-antialiased; font-smoothing:subpixel-antialiased;  outline:none; font-style:normal; color:#323232;}
body{background:#FFFFFF;}
textarea{font-size:14px;}
div{}
a{text-decoration:none; color:#323232;}
a:hover{text-decoration:none; color:#303030;}
a:visited{text-decoration:none;}
.toblock{display:block; width:100%; height:auto; overflow:hidden;}
img{border:none;}
ul{list-style-type:none;}
li{list-style:none; overflow:hidden;}
.gui-noborder{border:none !important;}
.gui-table td{padding:10px 3px; line-height:30px; font-size:14px;}
.gui-pointer{cursor:pointer;}
blockquote{font-size:15px; line-height:2em; padding:8px 18px; color:#303030; background:#F7F8F9;  border-left:3px solid #E0E0E0; margin:10px 0; text-indent:0;}
.gui-no-shadow{box-shadow:none !important;}

.gui-border-t{border-top:1px solid #F1F5F6;}

/* 响应式隐藏 */
.gui-h5-hide{}
.gui-pc-hide{display:none;}

/* 修饰滚动条 */
::-webkit-scrollbar {width:5px; height:10px; background-color:#F5F5F5;}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
::-webkit-scrollbar-thumb{-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); background-color: #555555;}

/* 颜色及文本 */
.gui-color-blue{color:#155BD5 !important;}
.gui-color-red{color:#F56C6C;}
.gui-color-yellow{color:#E6A23C;}
.gui-color-green{color:#67C23A;}
.gui-color-gray{color:#909399;}
.gui-color-main{color:#303030;}
.gui-color-gray2{color:#606266;}
.gui-color-gray3{color:#909399;}
.gui-color-gray4{color:#C0C4CC;}
.gui-color-white{color:#FFFFFF;}

/* 背景颜色 */
.gui-bg-blue{background:#155BD5; color:#FFFFFF;}
.gui-bg-red{background:#F56C6C; color:#FFFFFF;}
.gui-bg-yellow{background:#E6A23C; color:#FFFFFF;}
.gui-bg-green{background:#67C23A; color:#FFFFFF;}
.gui-bg-gray{background:#909399; color:#FFFFFF;}
.gui-bg-black{background:#303133; color:#FFFFFF;}
.gui-bg-gray2{background:#606266; color:#FFFFFF;}
.gui-bg-gray3{background:#909399; color:#FFFFFF;}
.gui-bg-gray4{background:#C0C4CC; color:#FFFFFF;}

/* 标题 */
.gui-h1{font-size:30px !important; line-height:1.5em;}
.gui-h2{font-size:26px !important; line-height:1.5em;}
.gui-h3{font-size:24px !important; line-height:1.5em;}
.gui-h4{font-size:20px !important; line-height:1.5em;}
.gui-h5{font-size:17px !important; line-height:1.5em;}
.gui-h6{font-size:16px !important; line-height:1.5em;}
.gui-bold{font-weight:bold;}
.gui-text{font-size:14px;}
.gui-text-small{font-size:12px;}

/* 浮动 */
.gui-fl{float:left;}
.gui-fr{float:right;}
.gui-h5-float-none{}
.gui-tr-center{position:absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}

/* 遮罩层及右侧抽屉 */
.gui-shade{width:100%; height:100%; z-index:8; left:0; top:50px; bottom:0; background:rgba(0,0,0,0.3); position:fixed; display:none;}
.gui-drawer{width:44%; z-index:9; right:0; top:50px; bottom:0; background:rgba(255,255,255,1); position:fixed; padding:20px; box-sizing:border-box; display:none;}
.gui-drawer a{display:block; width:100%; line-height:44px; text-align:center; font-size:15px; color:#303030;}
/* 间距 */
.gui-margin-top-larger{margin-top:50px !important;}
.gui-margin-top-large{margin-top:30px !important;}
.gui-margin-top{margin-top:20px !important;}
.gui-margin-top-small{margin-top:10px !important;}

/* 响应式轮廓 */
.gui-ofh{overflow:hidden;}
.gui-body{width:1300px; margin:0 auto; overflow:hidden;}
.gui-large-area{width:950px;}
.gui-small-area{width:310px;}

/* 表单 */
.gui-form{}
.gui-form-item{padding:8px 0; box-sizing:border-box;}
.gui-input{height:38px; line-height:20px; padding:9px; border-radius:0; border:1px solid #F8F8F8; font-size:14px; color:#303133 !important; background-color:#FFF; width:100%; box-sizing:border-box;}
.gui-button{background:#155BD5; color:#FFF; cursor:pointer; height:36px; line-height:36px; border:none; padding:0 15px; font-size:14px;}
.gui-button:active{background:#67C23A;}
.gui-textarea{height:80px; line-height:20px; padding:15px; border-radius:1px; border:none; background-color:#F7F8F9; color:#888888; width:100%; box-sizing:border-box;}
.gui-form-item label{display:block; border-radius:3px; background:#F5F5F5; line-height:20px; font-size:13px; padding:6px 12px; float:left; margin-right:12px; cursor:pointer;}
.gui-form-item input[type=radio]{display:none;}
.gui-form-item input[type=radio]:checked + label{background:#155BD5; color:#FFF;}
.gui-form-arrow{color:#999999; font-size:12px;}
.gui-phone-pre{width:158px; height:300px; overflow-y:scroll; background:#FFFFFF; padding:10px 20px; display:none;}
.gui-phone-pre-item{height:50px; line-height:50px; color:#323232; cursor:pointer;}
.gui-phone-pre-item span{float:right;}
.gui-phone-pre-item:hover{color:#155BD5;}
.gui-phone-pre-item:hover span{color:#155BD5;}

/* 通用栏目标题 */
.gui-common-title{font-size:20px; font-weight:500; line-height:38px; overflow:hidden;}
.gui-common-title .gscmsfont{padding-right:8px; font-size:20px;}
.gui-common-title .button{color:#155BD5; font-size:14px; float:right; font-weight:400;}
.gui-common-title .button *{color:#155BD5;}
.gui-right-bg-btn{background:#5FB878; font-size:14px !important; color:#FFFFFF; padding:0 18px; line-height:38px; border-radius:3px; opacity:0.9; margin-top:8px;}
.gui-right-bg-btn i{font-size:15px; line-height:38px; color:#FFFFFF; margin-right:5px;}
.gui-right-bg-btn:hover{opacity:1; color:#FFFFFF;}

/* 带有线条的标题 */
.gui-line-title{position:relative; overflow:visible; height:30px; border-bottom:1px solid #F6F7F8; text-align:center;}
.gui-line-title span{position:absolute; left:0; top:0; font-size:18px; background:#FFFFFF; line-height:60px; padding-right:20px;}
.gui-line-title a{display:block; position:absolute; top:0; right:0; background:#FFFFFF; padding-left:20px; font-size:14px; color:#262626; line-height:60px;}

/* 居中标题带有线条 */
.gui-center-title{width:100%; display:flex; flex-direction:row; flex-wrap:nowrap; align-items:center; overflow:hidden;}
.gui-center-title .line{height:1px; width:800px; background:#F5F5F5;}
.gui-center-title .title{padding:20px 50px; line-height:28px; flex-shrink:0; font-size:16px;}

/* 新闻列表 */
.gui-article-list{width:100%; margin-top:30px; overflow:hidden; position:relative; display:block;}
.gui-article-list:hover img{transform: scale(1.03,1.03);}
.gui-article-list-img{width:20%; float:left; line-height:0;}
.gui-article-list-img img{width:100%; transition:all linear 0.15s;}
.gui-article-list-body{width:77%; float:right;}
.gui-article-list-title{line-height:1.5em; margin-top:-3px; word-break:break-all;}
.gui-article-list-title a:hover{text-decoration:underline;}
.gui-article-list-description{margin-top:10px; line-height:20px; letter-spacing:0;}
.gui-article-list-info{line-height:1.5em; margin-top:10px;}
.gui-topic-face{width:5%;}
.gui-topic-face img{width:100%; border-radius:3px;}
.gui-topic-list-body{width:93%;}
.gui-topic-imgs{margin-top:8px;}
.gui-topic-img{width:23%; margin:0 2% 10px 0; font-size:0; float:left; max-height:118px; overflow:hidden;}

.topic-input-title{height:50px; line-height:50px; padding:10px; font-size:18px; border-radius:0;}

/* 头部导航 */
.gui-header{width:100%; overflow:visible; height:62px; position:fixed; z-index:10; top:0; left:0; background:#FFFFFF; box-shadow:rgb(240, 241, 242) 0px 2px 5px; overflow:hidden;}
.gui-header-line{height:62px;}
.gui-logo{height:26px; margin-top:13px; display:block; font-size:0;}
.gui-logo img{height:100%;}
.gui-nav{float:right;}
.gui-nav a{display:block; float:left; height:58px; font-size:15px; letter-spacing:1px; line-height:58px; padding:0 12px; margin:0 15px; border-bottom:4px solid #FFFFFF;}
.gui-nav a:hover{text-decoration:none; color:#155BD5; border-color:#155BD5;}
#nav-account:hover{text-decoration:none; border-color:#F2F2F2 !important;}
.gui-nav .gui-current{color: #155BD5; font-weight:bold;}
.gui-nav a img{width:30px; height:30px; border-radius:30px; margin-top:13px; float:left; margin-right:10px;}
.gui-menu{width:44px; height:44px; line-height:44px; position:fixed; z-index:11; top:0; right:0; text-align:center; color:#FFF; display:none;}
.gui-menu i{font-size:28px; color:#FFF;}
.gui-nav-menu{display:none;}

/* 轮播图 */
.gui-swiper{width:100%; position:relative; overflow:hidden;}
.gui-swiper div{overflow:hidden;}
.gui-swiper-items{width:500%; position:relative; left:0; top:0; background-size:100% 358px;}
.gui-swiper-item{width:20%; font-size:0; line-height:0; float:left; background-size:100% 358px;}
.gui-swiper-item img{width:100%;}
.gui-swiper-indicator{width:96%; position:absolute; z-index:3; left:2%; bottom:8px; display:none;}
.gui-swiper-indicators{width:35px; border-radius:5px; height:6px; background:#B6D6FB; margin:0 3px;}
.gui-swiper-indicator-active{background:#155BD5 !important;}

/* 分页 */
.gui-page{width:100%; display:flex; flex-direction:row; justify-content:center; margin-top:36px;}
.gui-page a{display:block; padding:5px 13px; line-height:22px; font-size:14px; background:#F8F8F8; margin:5px;}
.gui-page a:hover{background:#155BD5 !important; color:#FFFFFF;}
.gui-page-current{background:#155BD5 !important; color:#FFFFFF;}

/* footer */
.gui-footer{background:#FAFAFA; font-size:13px; line-height:2em; padding:15px 0px; text-align:center; color:#525252; margin-top:25px; position:fixed; z-index:1; left:0; bottom:0; width:100%;}
.gui-footer *{text-align:center; color:#525252}
.gui-footer-line{height:80px; width:100%; overflow:hidden;}

/* 通用内容展示 */
.gui-common-content{line-height:2.2em; font-size:14px; overflow:hidden;}
.gui-common-content h1{font-size:28px; line-height:2em; padding:10px 0; margin-top:38px;}
.gui-common-content h2{font-size:24px; line-height:2em; padding:10px 0; margin-top:38px;}
.gui-common-content h3{font-size:20px; line-height:2em; padding:10px 0; margin-top:38px;}
.gui-common-content h4{font-size:18px; line-height:2em; padding:10px 0; margin-top:10px;}
.gui-common-content h5{font-size:16px; line-height:2em; padding:10px 0; margin-top:10px;}
.gui-common-content h6{font-size:12px; line-height:2em; padding:10px 0; margin-top:10px;}
.gui-common-content p{line-height:2.2em; font-size:14px;}
.gui-common-content img{width:100%; margin:10px 0;}
.gui-common-content pre{background:#F6F6F6; width:96%; letter-spacing:0; font-size:14px; line-height:2em; padding:12px 2% !important; margin:8px 0px; word-break:break-all; word-wrap:break-word; overflow:hidden; white-space:pre-wrap; position:relative;}
.gui-common-content strong{font-weight:bold; font-size:15px;}
.gui-common-content a{color:#155BD5;}
.gui-common-content table{width:100%; border-left:1px solid #F5F5F5; border-top:1px solid #F5F5F5; margin-top:8px;}
.gui-common-content td{padding:10px 8px; line-height:1.8em; border-right:1px solid #F5F5F5; border-bottom:1px solid #F5F5F5;}
.gui-common-content td strong{font-size:14px;}
.gui-common-content thead td{background:#F5F6F8; font-weight:bold;}
.gui-common-content pre .copy{width:68px; cursor:pointer; text-align:center; height:30px; line-height:30px; background:#155BD5; font-size:13px; color:#FFF; position:absolute; z-index:1; right:0; top:0;}
.gui-common-content pre .icon-fuzhi{color:#FFFFFF; padding-right:8px; font-size:13px;}

/* tab 选项卡 */
.gui-tab{}
.gui-tab-title{height:50px; border-bottom:3px solid #F4F4F4; overflow:visible;}
.gui-tab-title li{height:50px; line-height:50px; margin-right:35px; padding:0 5px; text-align:center; font-size:16px; float:left; border-bottom:3px solid #F4F4F4; cursor:pointer;}
.gui-tab-content{margin:15px 0; min-height:400px;}
.gui-tab-current{border-color:#155BD5 !important; color:#155BD5 !important; font-size:16px; font-weight:bold;}

/* 登录 */
.gui-login-body{width:980px; margin:0 auto;}
.gui-login-body-l{width:558px; float:left; padding:25px; padding-right:0; box-sizing:border-box;}
.gui-login-body-r{width:399px; height:600px; float:right; line-height:0; text-align:right; background:url("https://img.mp.itc.cn/q_70,c_zoom,w_640/upload/20170701/c40cbebf96dd4fe3b7107757c56d81a2_th.jpg") no-repeat top center; background-size:100% auto;}
.gui-login-body-r img{width:100%;}
.gui-login-body td{padding:10px 5px; font-size:13px;}
.gui-three-login-iocn{font-size:36px; color:#999999; margin:10px;}
.gui-three-login-iocn:hover{color:#155BD5;}
.gui-login-input{width:100%; border:1px solid #f6f6f6; margin-bottom:22px; position:relative; background:#f6f6f6; box-sizing:border-box; border-radius:3px;}
.gui-login-inputs{width:100%; border:none; background:#f6f6f6; height:50px; line-height:20px; padding:15px 20px 15px 60px; box-sizing:border-box; outline:none;}
.gui-login-input-icon{width:60px; height:52px; text-align:center; line-height:52px; position:absolute; left:0; top:0; z-index:1; font-size:20px; color:#555555;}
.gui-login-input-ab-l{width:80px; position:absolute; left:60px; top:0; z-index:2; color:#323232; line-height:50px;}
.gui-login-res{width:100%; margin-top:25px; height:30px; line-height:30px; padding:8px 0; border-radius:3px; background:#009688; text-align:center; color:#FFFFFF; display:none;}
.gui-login-res *{color:#FFFFFF;}
.gui-login-res .layui-icon{padding-right:6px;}
.gui-login-res .layui-anim-scale{display:block;}
/* 验证码图片 */
.gui-vcode{width:125px; position:absolute; z-index:1; top:0; right:0;}
.gui-vcode img{width:100%; cursor:pointer; margin-top:5px;}
.gui-send-phone-msg{line-height:50px; width:100px; font-size:12px; position:absolute; z-index:7; right:25px; text-align:right; top:0px; cursor:pointer; color:#155BD5;}

/* 下拉菜单 */
.gui-slide-menu{position:fixed; z-index:11; padding:10px 0px; width:120px; left:0; top:62px; height:auto; background:#1B8AFF; display:none;}
.gui-slide-menu a{display:block; width:100%; height:40px; line-height:40px; text-align:center; padding:0 !important; margin:0; border:0 !important; color:#FFF !important;}
.gui-slide-menu a:hover{background:#155BD5; text-decoration:none;}

/* 评论 */
.gui-comments{overflow:hidden; margin:5px 0; border:1px solid #D9D9D9;}
.gui-comments-footer{padding:8px; background:#F8F9FA; overflow:hidden; font-size:0;}
.gui-comments-footer-face{width:30px; height:30px; border-radius:30px; float:left; margin:3px 8px 0 0;}
.gui-comments-footer-nickename{float:left; line-height:36px; font-size:14px; margin:0 8px;}
.gui-comments-textarea{height:80px; line-height:20px; padding:15px; border:none; background-color:#FFFFFF; color:#888888; width:100%; resize:none; box-sizing:border-box;}
.gui-comments-list{padding:8px 0px; border:0; overflow:hidden; opacity:0;}
.gui-comments-list table tr{border-bottom: 1px dashed #F1F1F1;}
.gui-comments-list table tr:last-child{border:none;}
.gui-comments-list td{font-size:13px !important; line-height:2em; color:#323232; border:0; padding:10px 0;}
.gui-comments-list-body{width:100%; overflow:hidden;}
.gui-comments-list td i{color:#888888; font-size:12px; font-style:normal;}
.gui-comments-list td pre{font-size:13px; line-height:2em; padding-top:3px; color:#303030; word-break:break-all; word-wrap:break-word; overflow:hidden; white-space:pre-wrap;}
.gui-comments-list .img{width:32px; height:32px; margin-top:6px; font-size:0; margin-left:6px; border-radius:3px;}
.gui-comments-list-reply{margin:10px 0;}
.gui-comments-list-replies{font-size:13px; line-height:1.6em; margin:8px 0;}
#gui-at-in{font-size:12px; background:#E1E9F6; float:left; line-height:30px; padding:0 10px; border-radius:3px; margin:3px 10px; display:none;}
#gui-comments-more{color:#555555; font-size:12px; text-align:center; line-height:40px;}
#guie-comments-more *{color:#555555; font-size:12px; text-align:center; line-height:40px;}
.gui-comments_reply_btns{margin-left:12px;}
.gui-comments-info{overflow:hidden;}
.gui-reply_table{margin-top:5px;}
#gui-comments-submit{padding:15px 0;}
/* 代码美化 */
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:12px;}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

/* 折叠菜单 */
.gui-accordion{}
.gui-accordion dt{font-size:15px; display:block; position:relative;}
.gui-accordion dt span{padding-right:10px; font-size:16px;}
.gui-accordion dt{line-height:52px; cursor:pointer; padding:0 20px; border-bottom:1px solid #F1F5F6; margin-bottom:8px;}
.gui-accordion dt i{font-size:8px !important; float:right; color:#C6C6C6;}
.gui-accordion dd{line-height:52px; padding:0 25px; font-size:15px; padding-left:44px; display:none;}
.gui-accordion dd a{display:block; width:100%; box-sizing:border-box; line-height:46px;}
.gui-accordion .grace-dt-current{background:#F2F2F2 !important;}
.gui-accordion .gui-dt-current span{color:#155BD5;}
.gui-accordion .gui-current{color:#155BD5 !important; font-weight:bold; }
.gui-accordion dd a span{float:right; color:#888888; font-size:12px;}
.gui-accordion-arrow{width:52px; height:52px; position:absolute; right:0; top:0; text-align:center;}
.gui-accordion-arrow:before{line-height:52px; font-size:12px; color:#D1D1D1; text-align:center;}
.gui-dt-current{background:#F2F2F2 !important;}
.gui-dt-current div:before{color:#155BD5;}

/* 手册展示 */
.gui-doc-menu{background:#F8F8FA; width:280px; box-sizing: border-box; position:fixed; height:calc(100% - 118px); overflow-y:auto; padding:20px 0}
.gui-common-right-body{width:980px;}
.gui-manual-title{border-bottom:1px solid #F1F5F6; overflow:hidden; padding-bottom:25px; position:relative;}
.gui-manual-title::after{content:""; width:50px; height:5px; background:#155BD5; position:absolute; left:0; bottom:0;}
.gui-manual-title-text{font-size:28px; line-height:50px;}
.gui-manual-title-text .gui-right-btns{float:right; font-size:15px;}

/* 右下角悬浮按钮 */
.gui-fixed-btn{width:44px; height:44px; line-height:44px; position:fixed; z-index:9999; right:10px; bottom:50px; color:#393D49; text-align:center; border-radius:44px; display:none; font-size:30px;}

/* 提交类窄页面 */
.gui-submit-body{width:980px; margin:0 auto;}

/* 账户中心 */
.gui-account-header{line-height:30px;}
.gui-account-header img{width:60px; margin-right:20px; border-radius:80px;}
.gui-select-img{text-align:center; width:158px; height:36px; line-height:36px; background:#F2F2F2; position:relative; cursor:pointer;}
.gui-select-img input{display:block; opacity:0; width:100%; left:0; top:0; position:absolute; height:36px; z-index:2; cursor:pointer;}
#gui-select-img-in{padding:15px 0px; width:40%;}
#gui-select-img-in img{width:100%;}

/* 分段器 */
.gui-segmented-control{padding:28px 0;}
.gui-segmented-control-item{display:block; font-size:14px; line-height:26px; margin-right:18px; background-color:#F8F8F8; float:left; padding:5px 15px;}
.gui-segmented-current{background-color:#155BD5; color:#FFFFFF;} /* 激活样式 */
.gui-segmented-control-item:hover{background-color: #155BD5; color:#FFFFFF;}

/* 搜索框 */
.gui-search{width:100%; position:relative;}
.gui-search > input{height:44px; line-height:20px; padding:12px; padding-left:20px; border-radius:3px; font-size:14px; color:#303133; background:#F8F8F8; border:none; width:100%; box-sizing:border-box;}
.gui-search .button{width:100px; height:38px; text-align:center; font-size:15px; line-height:38px; position:absolute; z-index:1; right:3px; top:3px; background:#155BD5; color:#FFFFFF; cursor:pointer; border-radius:3px;}

#doc-search-wrap{width:50%; margin:0 auto;}
#doc-search{position: relative; margin-bottom:15px;}
#doc-search input {width:72%; padding:10px 9%; margin:0 5%; text-align:center; line-height:20px; height:20px; background-color:#FFFFFF; border:none;}
#doc-search-icon{position: absolute; z-index:1; left:5%; top:0; line-height:40px; width:60px; text-align: center; color: #888888; font-size: 20px; background-color: #FFFFFF;}
/* 首页广告组 */
.index-shows-line{height:50px;}
.index-shows{width:1180px; padding:0 20px; margin:0 auto; box-sizing:border-box;}
.index-show{width:550px; background-color:#FFFFFF; box-sizing:border-box; padding:35px; margin:20px 0; border:1px solid #F1F1F1;}
.index-show-icon{width:18%; text-align:center; font-size:58px; float:left; color:#90a7e2;}
.index-show-body{width:78%; float:right;}
.index-show-title{font-size:24px;}
.index-show-desc{font-size:14px; color:#656565; line-height:1.8em; margin-top:15px;}
.index-show:hover{box-shadow:2px 2px 8px #D0D0D0;}
.index-show:hover .index-show-icon{color:#166BD8;}

/* 收藏 */
.gui-collect{text-align:center; line-height:60px; font-size:15px; cursor:pointer; width:105px; background:#F1F1F1; padding:0 15px 0 50px; border-radius:5px; position:relative; margin:0 auto;}
.gui-collect .gscmsfont{line-height:60px; width:60px; text-align:center; font-size:39px; position:absolute; z-index:1; left:10px; top:0;}
.gui-collect:hover{background:#67C23A;}
.gui-collect:hover *{color:#FFFFFF;}
.gui-collected{background:#155BD5;}
.gui-collected *{color:#FFFFFF;}

/* 命令 */
.gui-command{padding:6px 10px; border-radius:3px;  background:#000000; color:#FFFFFF; font-size:15px; margin:10px 0;}

/* 移动端响应式样式 */
@media screen and (max-width:1200px){
    .gui-h5-hide{display:none;}
    .gui-pc-hide{display:block;}
    .gui-h1{font-size:20px !important; line-height:1.5em;}
    .gui-h2{font-size:18px !important; line-height:1.5em;}
    .gui-h3{font-size:17px !important; line-height:1.5em;}
    .gui-h4{font-size:16px !important; line-height:1.5em;}
    .gui-h5{font-size:15px !important; line-height:1.5em;}
    .gui-h6{font-size:14px !important; line-height:1.5em;}
    .gui-h5-float-none{float:none !important;}

    .gui-margin-top-larger{margin-top:20px !important;}
    .gui-margin-top-large{margin-top:15px !important;}
    .gui-margin-top{margin-top:10px !important;}
    .gui-margin-top-small{margin-top:6px !important;}

    .gui-body{width:100%; padding:0px 12px; box-sizing:border-box;}
    .gui-nav-menu{width:50px; height:50px; text-align:center; line-height:50px; font-size:24px; display:block;}
    .gui-logo{height:22px; margin:15px 0;}
    .gui-swiper{margin:0;}
    .gui-login-body{width:96%; position: static !important; margin-top:30px; top:0; left:0; transform: translate(0, 0);}
    .gui-login-body-l{width:100%; float:none; padding:0 15px; overflow: hidden;}
    .gui-login-body-r{display:none;}
    .gui-nav{display:none;}
    .gui-large-area{width:100%; padding:0;}
    .gui-small-area{width:100%; padding:0; margin-top:25px;}
    .gui-page a{padding:6px 12px; line-height:15px; font-size:11px; background:#F8F8F8; margin:2px;}
    .gui-article-list{padding:5px 0; margin-top:15px; overflow:hidden; width:100%; box-sizing:border-box;}
    .gui-article-list-img{width:22%; float:left;}
    .gui-article-list-body{width:75%; float:right;}
    .gui-topic-face{width:12%;}
    .gui-topic-list-body{width:85%;}
    .gui-article-list-description{display:none;}
    .gui-footer{display:none;}
    .gui-doc-menu{width:100%; padding:0px; box-sizing:border-box;}
    .gui-common-right-body{width:100%;}
    .gui-manual-title{padding-bottom:15px;}
    .gui-manual-title::after{height:3px;}
    .gui-manual-title-text{font-size:20px; line-height:38px;}
    .gui-fixed-btn{display:block;}
    .gui-submit-body{width:100%; padding:0 12px; box-sizing:border-box;}

    .gui-line-title span{font-size:16px;}
    .gui-line-title a{font-size:14px;}

    .gui-common-content h1{font-size:20px; line-height:2em; padding:10px 0; margin-top:20px;}
    .gui-common-content h2{font-size:18px; line-height:2em; padding:10px 0; margin-top:18px;}
    .gui-common-content h3{font-size:17px; line-height:2em; padding:10px 0; margin-top:16px;}
    .gui-common-content h4{font-size:16px; line-height:2em; padding:10px 0; margin-top:15px;}
    .gui-common-content h5{font-size:15px; line-height:2em; padding:10px 0; margin-top:12px;}
    .gui-common-content h6{font-size:14px; line-height:2em; padding:10px 0; margin-top:10px;}

    #doc-search-wrap{width:100%;}

    .index-shows{width:100%;}
    .index-show{width:100%; margin:15px 0; padding:18px;}
    .index-show-icon{font-size:44px;}
    .index-shows-line{height:5px;}
    .index-show-desc{margin-top:8px;}
    .index-show-title{font-size:18px;}
}